@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Lato|Montserrat|Red+Hat+Text|Saira+Stencil+One&display=swap');

.content {
    background-image: url("lightsout.png"); /* The image used */
    background-color: #D9D9D9; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-top: 75px;
}

body {
    background-color: #D9D9D9;
}

.heading{
    position: absolute;
    left:   690px;
    top:    250px;
}

h4 {
    position: absolute;
    left:   800px;
    top:    350px;
    font-family: 'Saira Stencil One', monospace; 
    font-size: 200%
}

footer{
    background-color: #353A40;
    position: relative;
}